.hero-overlay, .sidenav {
    justify-content: center
}

#ProjectBackground, .hero-overlay {
    animation: 1s ease-out forwards fadeIn;
    left: 0;
    top: 0
}

#sectorA-main-button, #sectorB-main-button, #sectorC-main-button, #sectorD-main-button, #sectorE-main-button, #sectorV-main-button {
    animation: 1s ease-out forwards slideDown;
    opacity: 0
}

#sectorE-main-button, h1 {
    color: var(--drab-dark-brown)
}

.sidenav a, header {
    width: 100%;
    font-weight: 700
}

#cmimetPart, .dropdown-content {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2)
}

td, th {
    padding: 2px
}

table, td, th {
    border-collapse: collapse
}

.apartament-plan, tr {
    page-break-inside: avoid
}

.ApBtn:hover, .apLabel:hover {
    background-color: #9f8b6f
}

#sideImage1A, #sideImage1C {
    margin-left: 260px;
    width: 65%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --myrtle-green: #4B787Bff;
    --drab-dark-brown: #454326ff;
    --desert-sand: #D6BFAFff;
    --text-color: #ddd;
    --background-color-beaver: #AC9682ff;
    --primary-blue: #003b6f;
    --secondary-gold: #ffd700;
    --accent-white: #ffffff;
    --background-gradient: linear-gradient(to bottom, #87cefa, #4682b4);
    --button-hover: #ffa500;
    --seaside-villa: #e8d6cb;
    --butter-cup: #f39c12;
    --saffron-mango: #fabe58;
    --merino: #f7efe8
}

body {
    background-color: var(--seaside-villa);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 200px;
    background-size: 90% 100%;
    color: var(--accent-white);
    font-family: Arial;
    font-size: 20px
}

h1, header {
    font-size: 2.5rem
}

#ProjectBackground {
    position: fixed;
    width: 100%;
    height: 100vh
}

@keyframes mymove {
    0% {
        left: 50vw;
        top: 55vh;
        width: 100px;
        height: 50px
    }

    100% {
        width: 100%;
        height: 100%
    }
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: center no-repeat
}

.hero-content, .hero-overlay, .main-button {
    position: absolute
}

.hero-overlay {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    text-align: center
}

#HomeBtn, .hero-content {
    background: conic-gradient(rgb(0 0 0/ .1) 0 0) padding-box,var(--grad) border-box
}

.sidenav, .topnav a, header {
    display: block
}

.hero-content {
    --list: #e3e3e3,#c8c8c8;
    --grad: linear-gradient(270deg, var(--list));
    top: 7vh;
    left: 0;
    color: #333;
    padding: 0 20px;
    border-radius: 10px;
    animation: 1s ease-out forwards slideUp;
    animation-delay: 1.5s;
    opacity: 0
}

.main-btn, header {
    color: var(--accent-white)
}

#planimetrite, .sidenav, .sidenav_r {
    animation: .5s ease-out forwards slideUp
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #333
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #555
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

#HomeBtn {
    --list: #e3e3e3,#a8a8a8;
    --grad: linear-gradient(45deg, var(--list));
    width: 100px;
    height: 50px;
    border-radius: 1em;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #fff;
    transition: .3s;
    text-shadow: 1px 1px 2px;
    text-align: center;
    aspect-ratio: 7/10
}

.main-btn, .topnav a {
    text-decoration: none;
    border: none
}

.button button:hover {
    background: #ababab;
    color: #fff
}

.description {
    padding: 5px;
    width: 500px;
    text-align: justify;
    font-size: 14px
}

.column, .main-button, .topnav a, header {
    text-align: center
}

#planimetrite, .sidenav, header {
    position: fixed
}

.main-btn {
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 800
}

#sectorA-main-button {
    top: 18vh;
    left: 48vw;
    animation-delay: 1.5s
}

#sectorB-main-button {
    top: 20vh;
    left: 73vw;
    animation-delay: 2s
}

#sectorC-main-button {
    top: 28vh;
    left: 45vw;
    animation-delay: 2.5s
}

#sectorD-main-button {
    top: 41vh;
    left: 40vw;
    animation-delay: 3s
}

#sectorE-main-button {
    top: 53vh;
    left: 40vw;
    animation-delay: 3.5s
}

#sectorV-main-button {
    top: 55vh;
    left: 28vw;
    animation-delay: 4s
}

@media (max-width:768px) {
    .hero-content h1 {
        font-size: 3rem
    }

    .hero-content p {
        font-size: 1.2rem
    }

    .cta-button {
        font-size: 1rem;
        padding: .8rem 1.5rem
    }
}

header {
    height: 4rem;
    box-shadow: 0 5px 2px rgba(0,0,0,.5);
    background-color: var(--accent-white);
    z-index: 5
}

.column {
    float: left;
    padding: 10px;
    height: 100px
}

    .column.side {
        width: 35%
    }

    .column.middle {
        width: 30%
    }

.row:after {
    content: "";
    display: table;
    clear: both
}

.topnav {
    background-color: none
}

.sidenav, a {
    background-color: var(--seaside-villa)
}

.topnav a {
    float: RIGHT;
    color: #111;
    padding: 14px 16px;
    background-color: rgba(214,191,175,.1)
}

.sidenav a, h1, table, td, th {
    text-align: left
}

#printBtnContainer, .sidenav a {
    background-color: var(--accent-white)
}

.topnav a:hover {
    background-color: #ddd;
    color: #000
}

h1 {
    margin-bottom: 10px
}

.apartament-plan, h2, p {
    margin-bottom: 20px
}

.dropbtn, .sidenav, h2 {
    text-align: center
}

#green_coast_logo {
    width: 80px;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto
}

a {
    border: 1px solid grey
}

.sidenav {
    height: 100%;
    width: 280px;
    top: 4rem;
    left: 0;
    z-index: 4;
    overflow-x: hidden;
    overflow-y: auto;
    animation-delay: 0s;
    opacity: 0
}
#mainMenu {
    width:100%;
}
.dropbtn {
    color: var(--drab-dark-brown);
    height: 40px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer
}

.dropbtn, .dropdown-content {
    width: 130px;
    text-decoration: none
}

#mainMenu, .dropbtn, td {
    background-color: transparent
}

#printBtnContainer, .detailContainer, .dropdown {
    display: inline-block
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    display: grid;
    float: right;
    font-size: 1.2rem;
    color: var(--primary-blue);
    border-radius: 5px;
    transition: background-color .3s
}

#apNameTable, #mainMenu, #planimetrite, .dropdown:hover .dropdown-content {
    display: block
}

.sidenav a:hover {
    background-color: var(--button-hover);
    color: var(--accent-white)
}

#mainMenu {
    text-align: left;
    text-decoration: none
}

.dropbtn {
    padding: 10px;
    font-weight: 200;
    border: none
}
#PdfBtn {
    background-color: transparent;
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
    border-radius: 5px;
    padding: 3px;
    font-size: 0.8rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color .3s
}
    #PdfBtn:hover {
        background-color: var(--drab-dark-brown);
        color: var(--accent-white)
    }

#formSubtitle, .dropdown-content {
    font-weight: 600;
    text-align: center
}

.dropbtn a:hover, .dropdown:hover .dropbtn {
    background-color: var(--butter-cup);
    color: var(--accent-white)
}

#cmimetPart, #infoPart, .cmimeLabel, .dropdown-content a:hover, .sector_name, span {
    color: var(--drab-dark-brown)
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--seaside-villa);
    font-size: .7rem;
    font-style: oblique;
    z-index: 1
}

#cmimetPart, .cmimeInput, .vleraSip {
    text-align: right
}

.dropdown-content a {
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
    display: block
}

    .dropdown-content a:hover {
        background-color: var(--merino)
    }

.hidden {
    visibility: hidden
}

.sector_name {
    font-family: ('Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif);
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    background-color: rgba(200,220,200,0);
    opacity: .4
}

.cmimeLabel, span, table, td, th {
    font-weight: 500
}

#cmimetPart {
    margin-top: 8rem;
    width: inherit;
    border: none;
    padding: 5px;
    background: var(--desert-sand)
}

#formSubtitle {
    padding-top: 1rem;
    font-family: 'Lucida Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif
}

.cmimeLabel {
    font-size: 1rem
}

.aparttId, .cmimeInput, .infoLabel {
    font-weight: 600
}

.aparttId, span, table, td, th {
    font-size: 14px
}

.cmimeInput {
    padding: 2px 5px 2px 2px;
    margin-top: 2px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid var(--drab-dark-brown);
    background: var(--merino)
}

#groupApart, #infoPart, .sidenav_r {
    background-color: var(--seaside-villa)
}

#apartmentDetailsTable {
    margin-top: 30px
}

table, td, th {
    border: none;
    width: fit-content;
    height: 15px;
    margin-top: 10px
}

th {
    background-color: var(--drab-dark-brown);
    color: #fff
}

td {
    color: #000
}

#apNameTable {
    height: 5rem;
    padding-top: 3.5rem;
    text-align: center;
    z-index: 10;
    font-size: 5rem;
    border: none
}

#aptStatus {
    font: bold 16px red
}

#planimetrite {
    top: 4rem;
    width: 73%;
    height: auto;
    left: 280px;
    z-index: 1;
    animation-delay: .5s;
    opacity: 0
}

#printBtnContainer {
    position: absolute;
    width: 150px;
    left: 58vw;
    top: 7vh;
    z-index: 20;
    cursor: pointer;
    border-radius: 5px;
    transition: opacity 1s ease-in-out
}

#fullScreenPlanBtn, #printButton {
    display: inline-block;
    font-size: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer
}

#fullScreenPlanBtn {
    color: gray
}

#fullscreen-btn:hover {
    background-color: #45a049
}

#printButton {
    color: grey
}

#balfin, #rezervuarShkrimi, #shiturShkrimi {
    font-weight: 700;
    font-size: 10rem;
    font-family: 'Arial Rounded MT';
    opacity: .5;
    color: red
}

@media print {
    body {
        margin: 0;
        padding: 0
    }

    .apartament-plan {
        display: block !important;
        width: 100% !important;
        height: auto !important;
        object-fit: contain;
        position: fixed !important;
        top: 0;
        left: 0
    }

    #SectorA-image #SectorV-image, #fullscreenContainer, #printBtnContainer, #printButton, #rezervuarShkrimi, #shiturShkrimi, #sideImage, .controls, .footer, .sidebar, .sidenav, .sidenav_r, header, nav {
        display: none !important
    }
}

#SectorA-image, #balfin, #llogApBtn, #rezervuarShkrimi, #shiturShkrimi, .apartament-plan {
    position: absolute
}

table {
    width: 100%
}

.plan-image {
    width: 100%;
    height: auto
}

.apartament-plan {
    width: 0;
    height: auto;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in-out
}

#rezervuarShkrimi, .sidenav_r {
    height: 100%;
    text-align: center
}

.apartament-plan:not(.hidden), .aptId:not(.hidden) {
    opacity: 1
}

.page-break {
    page-break-before: always
}

#shiturShkrimi {
    top: 200px;
    left: 500px;
    z-index: 5
}

#rezervuarShkrimi {
    z-index: 5;
    padding-top: 20rem
}

#SectorA-image {
    top: 0;
    width: 90%;
    z-index: -1
}

#balfin {
    top: 0;
    left: 500px;
    z-index: 10
}

.aptId, .empty, .footer, .sidenav_r {
    opacity: 0
}

.sidenav_r {
    width: 400px;
    padding: 10px;
    display: block;
    position: fixed;
    z-index: 2;
    top: 4rem;
    right: 0;
    color: var(--accent-white);
    overflow-x: hidden;
    animation-delay: 1s
}

#fullscreenContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px
}

#fullscreenImage {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border: 5px solid #fff;
    border-radius: 10px;
    background: #fff
}

#infoPart {
    display: block;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 385px
}

#tabelaVlerave, .cmimeOutput, .teDhena, .totalOutput {
    text-align: right
}

.infoLabel {
    font-size: 12px;
    padding-right: 5px;
    padding-top: 1px
}

#tabelaVlerave {
    display: block;
    margin-right: 10px
}

.teDhena {
    width: 100px;
    background-color: transparent;
    border: none;
    padding-right: 10px;
    font-weight: 500;
    font-size: 14px
}

#PishineEDhene, #nrParkimEDhene {
    width: 40px;
    background: rgba(255,255,255,.9);
    border-radius: 5px;
    background-color: var(--accent-white);
    font-weight: 500;
    font-size: 1rem;
    text-align: right
}

.cmimeOutput {
    padding: 2px 10px 2px 2px;
    font-weight: 600;
    width: 100px;
    background-color: var(--accent-white);
    color: #000
}

#llogApBtn, .apLabel, .apLabel:hover, .totalOutput {
    color: var(--accent-white)
}

.totalOutput {
    padding: 3px 10px 3px 3px;
    width: 150px;
    margin-top: 5px;
    background-color: var(--drab-dark-brown);
    font-size: 1.2rem;
    font-weight: 700;
    border: 5px solid var(--desert-sand)
}

#groupApart, .apLabel, .shkalla {
    text-align: center
}

#llogApBtn {
    width: 80px;
    height: 30px;
    top: 230px;
    right: 270px;
    background-color: #f88379
}

#groupApart {
    display: flex;
    z-index: 10;
    width: 50px
}

h5 {
    padding: 3px
}

.shkalla {
    background-color: var(--desert-sand);
    border: 1px solid grey;
    width: 70px
}

.apartBlock {
    display: block;
    width: 60px;
    text-align: left
}

.radioteDhena {
    display: inline-flex;
    width: 10px;
    padding: 0
}

.apLabel {
    font-size: 12px;
    font-weight: 500;
    padding: 1px;
    width: 40px;
    display: inline-flex;
    border: 1px solid #000;
    background-color: #b5a58d;
    margin: 2px
}

.footer, .footerB {
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: rgb(72 72 72);
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,.5)
}

.emptyLabel {
    display: inline-table;
    width: 50px;
    height: 20px
}

.footer, .footerB, .zoomed {
    width: 100%
}

.sekShkalle {
    border: 1px solid;
    border-radius: 5px;
    height: min-content
}

.ApBtn, .narrow {
    border: 1px solid
}

#BolvLogoBW {
    width: 70%;
    display: block;
    margin-left: 15%
}

#sideImage, #sideImageB, #sideImageE {
    display: block;
    position: absolute;
    width: 50vw;
    top: 53vh;
    left: 30vw;
    border: 5px solid var(--seaside-villa);
    height: auto;
    transition: transform .5s ease-in-out;
    z-index: 10;
    opacity: 0
}

#sideImageB, #sideImageE {
    width: 27vw;
    height: auto;
    right: 0
}

#sideImageB {
    top: 30vh;
    left: 52vw
}

#sideImageE {
    top: 55vh;
    left: 48vw
}

.footer {
    height: 20%;
    right: 0;
    animation: .5s ease-out forwards slideUp;
    animation-delay: 1.5s
}

.footerB {
    height: 25%;
    right: 0
}

.button-container {
    position: absolute;
    margin-left: 305px;
    text-align: left;
    width: 100%;
    height: 150px;
    z-index: 5
}

.btnConE {
    margin-left: 668px
}

.floor {
    display: block;
    height: 30px
}

.narrow, .narrowC {
    padding: 4px;
    display: inline-block;
    height: 30px;
    color: #fff;
    background-color: #b5a58d;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
    transition: background-color .3s
}

.ApBtn {
    padding: 4px;
    width: 60px;
    height: 30px;
    color: #fff;
    background-color: #b5a58d;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
    transition: background-color .3s
}

.narrow {
    width: 40px;
    border-radius: 3px
}

.narrowC {
    width: 45px;
    border: 1px solid;
    border-radius: 3px
}

#sideImage1A {
    display: block
}

#sideImage1B {
    display: block;
    margin-left: 260px;
    width: 55%
}

#sideImage1C {
    display: block;
    top: 0
}

.aptId {
    font-size: 4rem;
    color: var(--drab-dark-brown);
    transition: opacity 2s ease-in-out
}

#btnImageA, #btnImageB {
    height: 80px
}
@media (max-width: 600px) {
    body {
        padding: 5px;
    }

    .footer, .groupApart {
        display: none;
    }



    #BolvLogoBW, #btnImageA,  #tabelaVlerave, #llogApBtn, #cmimetPart {
        display: none;
    }
    #apNameTable {
        padding-top: 10px;
    }
    #aptId {
        font-size: 2rem;
        padding-top: 1rem;
    }
    h1 {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: #333
    }

    .dropdown {
        display: flex;
        background-color: var(--seaside-villa);
        border: solid 1px var(--drab-dark-brown);
        font-size: 15px;
        padding: 2px;
        width: 100%;
    }
    .mainMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .dropbtn {
        background-color: var(--drab-dark-brown);
        color: var(--seaside-villa);
        padding: 2px;
        margin: 0;
        width: 100%;
        font-size: 15px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .pdfViewer {
        display: none;
    }
    .column.middle {
        display: none;
    }

    .column.side {
        position: relative;
        display: flex;
        width: 100%;
        height: auto;
        padding: 0;
        text-align: center;
    }
    .sidenav, .sidenav_r, #planimetrite {
        background-color: transparent;
        width: 100%;
        height: auto;
        left: 10px;
        padding: 0;
        position: absolute;
    }

    .sidenav {
        top: 55vh;
        z-index: 0;
    }

    #apartmentDetailsTable {
        margin-top: 0;
        width: 90%;
    }

    .sidenav_r {
        top: 270px;
    }
    #planimetrite {
        width: 100%;
        top: 102vh;
    }
    #shiturShkrimi, #rezervuarShkrimi {
        padding-top: 5rem;
        padding-left: 10vw;
        font-size: 40px;
    }

    #printBtnContainer {
        top: 20px;
        left: 85vw;
        width: 60px;
    }

    #printButton, #fullScreenPlanBtn {
        font-size: 20px;
        padding: 2px;
    }
    .apartament-plan {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }
    #infoPart {
        width: 100%;
        height: 60vh;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
    }
    #groupApart {
        width: 100%;
        position: absolute;
        margin: 0;
        z-index: 10;
    }

}