@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900;1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(80,80,80,0.7) 0% 20%,rgba(80,80,80,0.5) 30% 67%, rgba(235,168,0,0.8) 72% 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.backgroundImage {
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    height: 100vh;
    z-index:-1;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.hero-content {
    position: relative;
    top:-20%;
    z-index: 2;
    max-width: 100%;
}

h1 {
    font-family: 'Cantata One';
    color: rgb(235, 168, 0);
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
}

#bigText {
    font-family: 'Cantata One';
    font-weight: bolder;
    color: rgba(10, 10, 10,1);
    font-size: 120px;
    margin-top: -150px;
    text-shadow: 5px 5px 3px rgba(235,168,0,.5) !important;
}
p {
    font-size: 37px;
    color: rgba(10, 10, 10,1);
    text-shadow: 5px 5px 3px rgba(235,168,0,.5) !important;
}



    .cta-button {
        margin-top: 20px;
        padding: 12px 24px;
        font-size: 18px;
        background: gold;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

        .cta-button:hover {
            background: #e6c200;
        }



    .container {
        position: absolute;
        padding: 150px 0px;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: end;
        flex-wrap: wrap;
    }

    .parent {
        height: 300px;
        width: 300px;
        padding: 20px;
        perspective: 1000px;
    }

.card {
    padding-top: 0px;
    transform-style: preserve-3d;
    width: 100%;
    border: 5px solid rgba(235, 168, 0, 0.8);
    box-shadow: rgba(80, 80, 80, 0.98) 20px 20px 50px -15px;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

        .card:hover {
            background-position: 80% 20%;
            transform: rotate3d(0.5, 1, 0, 30deg);
        }


    .content-box {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.811);
        border-radius: 0px 0px 10px 10px;
        box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px,;
        transition: all .5s ease-in-out;
        padding: 50px 25px 25px 25px;
        transform-style: preserve-3d;
    }

    .card-title {
        color: white;
        font-size: 25px;
        font-weight: 900;
        transition: all 0.5s ease-in-out;
        transform: translate3d(0px, 0px, 20px);
    }

    card-title:hover {
        transform: translate3d(0px, 0px, 50px);
    }



    .card-content {
        padding-top: 10px;
        font-size: 12px;
        text-align: justify;
        color: rgb(185, 185, 185);
        transition: all 0.5s ease-in-out;
        transform: translate3d(0px, 0px, 20px);
    }

        .card-content:hover {
            transform: translate3d(0px, 0px, 50px);
        }



    .see-more {
        cursor: pointer;
        background: none;
        border: none;
        width: 80px;
        font-weight: 900;
        font-size: 12px;
        text-transform: uppercase;
        color: rgb(235, 168, 0);
        padding-top: 15px;
        transition: all 0.5s ease-in-out;
        transform: translate3d(0px, 0px, 20px);
    }

        .see-more :hover {
            transform: translate3d(0px, 0px, 50px);
            color: white;
        }



    .date-box {
        position: absolute;
        top: 140px;
        left: 25px;
        height: 60px;
        width: 60px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        padding: 10px;
        box-shadow: rgb(235, 168, 0) 0px 20px 60px 0px, rgb(0, 200, 255) 0px 18px 36px -18px;
        transform: translate3d(0px, 0px, 50px);
    }

        .date-box span {
            display: block;
            text-align: center;
        }

    .month {
        color: white;
        font-size: 11px;
        font-weight: 600;
    }

    .date {
        font-size: 20px;
        font-weight: 900;
        color: rgb(235, 186, 0);
    }

    #tulipan {
        width: 100%;
        height: 150px;
    }

    #g7bPalase {
        width: 100%;
        height: 150px;
    }

    #jaPalase {
        width: 100%;
        height: 150px;
    }

    #laprake {
        width: 100%;
        height: 150px;
    }

span {
    color: white;
    font-weight: 400;
}

@media (max-width: 800px) {
    body {
        padding: 5px;
    }
    .container {
        padding: 70px 0px;
        top: -15vh;

    }
    .hero-content {
        top: -30vh;
    }
    .parent {
        height: 100px;
        width: 45vw;
        padding: 10px;
        perspective: 300px;
    }

    #tulipan, #g7bPalase, #jaPalase, #laprake {
        width: 100%;
        height: 100px;
    }
    .card {
        padding-top: 0px;
        width: 100%;
        border: 5px solid rgba(235, 168, 0, 0.8);
        box-shadow: rgba(80, 80, 80, 0.98) 20px 20px 50px -15px;
        transition: all 0.5s ease-in-out;
        border-radius: 5px;
    }
    .card-title {
        font-size: 18px;
    }

    h1 {
        font-family: 'Cantata One';
        font-size:20px;
        color: rgb(235, 168, 0);
        display: block;
        margin: 0 auto;
        text-shadow: 0 0 80px rgba(255,255,255,.5);
    }
    p {
        display: none;
    }

    #bigText {
        display: block;
        font-family: 'Cantata One';
        font-weight: bolder;
        color: rgba(10, 10, 10,1);
        font-size: 40px;
        text-shadow: 5px 5px 3px rgba(235,168,0,.5) !important;
    }
    .date-box {
        height: 30px;
        width: 30px;
        top:90px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        padding: 3px;
        box-shadow: rgb(235, 168, 0) 0px 20px 60px 0px, rgb(0, 200, 255) 0px 18px 36px -18px;
        transform: translate3d(0px, 0px, 50px);
    }

    .date {
        font-size: 15px;
    }
}